# 通过该配置兜底解决组件没有类型提示的问题
# The configuration is used to solve the problem that the component has no type prompt. Try to hoinst the dependencies to the top level.
# shamefully adv. 羞愧地
shamefully-hoist = true
HTTP_PROXY=http://127.0.0.1:10809
HTTPS_PROXY=http://127.0.0.1:10809